/************************************************************************************************************************
												Things About Me Colloms 
************************************************************************************************************************/
/*   3     #    */


/*
@media screen and (min-width: 755px) {
	body {
		background-color: green;
	}
	.right-group {

	}
	.left-group {

	}
}

@media screen and (min-width: 755px) {
	body {
		background-color: green;
	}
}

@media screen and (min-width: 955px) {
	body {
		background-color: yellow;
	}
	.right-group {
		width: 75%
	}
	.left-group {
		width: 5%
	}

}

@media screen and (min-width: 1155px) {
	body {
		background-color: brown;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}

}

@media screen and (min-width: 1355px) {
	body {
		background-color: red;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}
}

@media screen and (min-width: 1555px) {
	body {
		background-color: orange;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}
}

@media screen and (min-width: 1755px) {
	body {
		background-color: darkgreen;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}
}

@media screen and (min-width: 1900px) {
	body {
		background-color: #fff;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}
}*/