/************************************************************************************************************************
												Things About Me Colloms 
************************************************************************************************************************/
/*   3     #    */



@media screen and (max-width: 800px) {

	.right-group {
		float: none;
		width: auto;
		margin: 0 1.75em;
	}

	.left-group {
		width: auto;
		float: none;
		margin: 0.9em 0 -1em 0;
		list-style-type: none;
		text-align: center;
	}

	.left-group ul {
		list-style-type: none;
	}

	.left-group li {
		display: inline-block;
		float: none;
		margin: 0 0.4em;
	}
}


@media screen and (max-width: 1150px) {
	.nav-pic {
		margin: -10px 38px -28px 0;
	}

	.nav-pic li {
		display: list-item;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.gallery .child1 li:nth-child(2n) {
	clear: left;
	}
	.gallery .child2 li:nth-child(2n) {
	clear: left;
	}
	.gallery .child4 li:nth-child(2n) {
	clear: left;
	}
.gallery li {
	float: left;
	margin: 2.5%;
	width: 45%;
	}
}






@media screen and (min-width: 1150px) {


	.gallery li {
		float: left;
		margin: 2.5%;
		width: 20%;
	}

	.child1 a:nth-child(4n) {
	clear: left;
	}
	.child2 a:nth-child(4n) {
	clear: left;
	}
	.child4 a:nth-child(4n) {
	clear: left;
	}

}



/*@media screen and (min-width: 1150px) {
	body {
		background: none;
		background-color: brown;
}

@media screen and (min-width: 1355px) {
	body {
		background-color: red;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}
}

@media screen and (min-width: 1555px) {
	body {
		background-color: orange;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}
}

@media screen and (min-width: 1755px) {
	body {
		background-color: darkgreen;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}
}

@media screen and (min-width: 1900px) {
	body {
		background-color: #fff;
	}
	.right-group {
		width: 
	}
	.left-group {
		width: 
	}
}*/