/************************************************************
GENERAL
************************************************************/
body {
	background-color: #FFEAD2
}



/************************************************************
PLACEMENT + BORDERS
************************************************************/

h1 {
	text-align: center;
	margin: 0;
}



/************************************************************
TEXT APPEARENCE
************************************************************/

nav a, nav a :visited {
  color:#000;
  text-decoration:none
}

nav a.selected, nav a:hover {
	color: #107017;
}

footer a {
  color: #17B221;
  text-decoration:none
}