/***********************************************************
GENERAL
************************************************************/
/*   3     #    */


body {
	background: url("../img/bright-orange-pattern-yarkiy-2.jpg");
}




nav {
	background: url("../img/Screen Shot 2016-01-25 at 3.18.00 PM.png");
	list-style-type: none;
}

nav li {
	display: inline-block;
}

img {
	max-width: 100%;
}

.background ul {
	list-style: none;
}

ul {
	list-style: none;
}

.wrapper {
	margin: 0 0 6em 0;
}



/************************************************************
PLACEMENT + BORDERS
************************************************************/
/*   3     #    */


h1 {
	text-align: center;
	margin: 0.25em 0;
}

nav {
	text-align: center;;
	padding: 0;
	margin: 0 1.75em;
	border-color: #FFAC4B;
  border-width: 0.4em;
  border-style: solid;
}

nav ul {
	padding: 0.25em 0;
	margin: 0;
}

nav li {
	margin: 0 1em;
}

section ul {
	padding: 0 2.7em 0 2.7em;
}




/************************************************************
TEXT APPEARENCE	
************************************************************/
/*   3     #    */


h1 {
  font-size: 3.5em;
  font-weight: normal;
  color: #FFAC4B;
  font-family: 'IM Fell French Canon', serif;
}

nav {
	font-size: 20px;
	font-weight: bold;
}

nav a, nav a :visited {
  color:#000;
  text-decoration: none;
	font-family: 'Old Standard TT', serif;
}

nav a.selected, nav a:hover {
	color: #EF3C00;
}

footer a {
  color: #FF8000;
  font-family: 'Old Standard TT', serif;
  text-decoration: none;
  font-size: 1.5em;
}

nav {
		list-style-type: none;
}





/************************************************************************************************************************
																												Footer
************************************************************************************************************************/
/*   3     #    */


.unit {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 6em;
	background: url("../img/bright-orange-pattern-yarkiy-2.jpg");

}



























/************************************************************************************************************************
																											Contast
************************************************************************************************************************/
/*   3     #    */



.profile-photo {
 	border-radius: 10%;
 	display: block;
 	max-width: 100%;
}

.contact-me {
	margin: 0 25em 0 0;
	padding: 0;
}

.contact-me  a {
  font-weight: normal;
 	text-decoration: none;
 	color: #FF8900;
	font-size: 2em;
  background-repeat: no-repeat;
  display: block;
  padding: 0 0 0 1.25em;
  margin: 0.3em;
}

.email {
  font-family: 'IM Fell French Canon', serif;
  width: 0em;
}

.phone {
	font-family: 'Dancing Script', sans-serif;
	width: 18.25em;
}

.contact-me li.email a {
	background-image: url('../img/email2.png');
  background-size: 1em auto; 
}

.contact-me li.phone a {
	background-image: url('../img/phone1.png');
	background-size: 1em auto;
}




/************************************************************************************************************************
																									Things About Me
************************************************************************************************************************/
/*   3     #    */





.left-group a, .left-group a :visited {
  color:#FF7C00;
  text-decoration: none;
}

.left-group a.selected, .left-group a:hover {
	color: #000;
}


.left-group {
	text-decoration: none;
	float: left;
	width: 10%;
	margin: 4em 0 0 0;
}

.left-group li {
	font-size: 1.5em;
	margin: 10px 0;
}

.left-group a {
	font-family: 'Alegreya Sans', sans-serif;
}

.right-group {
	float: right;
	width: 70%;
	margin: 3em 4% 0 4%;
/*	background-color: #FF942F;*/
}

.right-group p {
	font-family: Arial, serif;
	font-weight: 700;
	font-size: 1.45em;
	font-style: italic;
}





/************************************************************************************************************************
												Favourite Moments
************************************************************************************************************************/
/*   3     #    */

.gallery {
	margin: -1.4em 0 0 0;
	padding: 0;
}

.gallery li {
	float: left;
	margin: 2.5%;
	width: 45%;
	background-color: #FFD3A0;

}

.click-pic {
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5em;
}

.gallery a, .gallery a :visited {
  color:#000;
  text-decoration: none;
  font-family: "Asap", sans-serif;
}

.gallery a.selected, .gallery a:hover {
	color: #000;
}



/************************************************************
					Larger Gallery
************************************************************/
/*   3     #    */



.big-pic {
	max-width: 100%;
	margin: -1.2em 0 0 0;
	
}

header a, header a :visited {
  text-decoration: none;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0 0.9em;
  font-size: 3em;
  color: #FFAC4B;

}

header a.selected, header a:hover {
	color: #000;
}










/************************************************************************************************************************
																									Things About Me
************************************************************************************************************************/
/*   3     #    